.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  font-size: 12px;
  color: #8c8c8c;
}

.footer p {
  font-family: cursive;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #8c8c8c;
  margin-left: 15px;
  cursor: pointer;
}
